<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" type="image/png" href="/favicon.png"/>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
   			<a href="/index.html"><img src="/header.jpg" alt="header" align="middle" width="600" height="205" /></a>
		</head>
		<body>
			<nav>
	    		<ul class"navigation">
				<font size="6.5">
				<table style="width:100%">
				<tr>
				{% for node in site.navigation %}
				    {% if page.url == node.url %}
					<li><a href="{{node.url}}"><b><td>{{node.text}}</td></b></a></li>
				    {% else %}
					<li><a href="{{node.url}}"><small><td>{{node.text}}</td></small></a></li>
				    {% endif %}
				{% endfor %}
				</tr>
				</table>
				</font>
	    		</ul>
			</nav>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:namrell@protonmail.com">email</a></li>
	        		<li><a href="https://github.com/namrell">github.com/namrell</a></li>
				</ul>
			</footer>
		</body>
	</html>
