<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" type="image/png" href="/favicon.png"/>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
   			<a href="/index.html"><img src="/header.jpg" alt="header" align="middle" width="400" height="100" /></a>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Journal</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/3d">3d-printing</a></li>
				<li><a href="/programming">Programming</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:namrell@protonmail.com">email</a></li>
	        		<li><a href="https://github.com/namrell">github.com/namrell</a></li>
				</ul>
			</footer>
		</body>
	</html>
