<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" type="image/png" href="/favicon.png"/>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
   			<a href="/index.html"><img src="/header.jpg" alt="header" align="middle" width="380" height="120" /></a>
		</head>
		<body>



    {% else %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endfor %}
			
			
			
			<nav>
	    		<ul>
				{% for node in site.pages %}
				    {% if page.url == node.url %}
					<li><a href="{{node.url}}">{{node.title}} A</a></li>
				    {% else %}
      					<li><a href="{{node.url}}">{{node.title}} B</a></li>
				    {% endif %}
				{% endfor %}
	    		</ul>
			</nav>
			
			<!--
			<nav>
	    		<ul>
	        		<li><a href="/">Journal</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/3d">3d-printing</a></li>
				<li><a href="/programming">Programming</a></li>
	    		</ul>
			</nav>
			-->
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:namrell@protonmail.com">email</a></li>
	        		<li><a href="https://github.com/namrell">github.com/namrell</a></li>
				</ul>
			</footer>
		</body>
	</html>
